<a href="https://colab.research.google.com/github/aubrieconger/digitalmethods1/blob/main/clean_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

file_path = ('/content/Persons_of_Color_Troop_Enlistments_from_Connecticut_during_the_Civil_War.csv')

df = pd.read_csv(file_path)
df.head(50)

,Last name,First name,MI/name,Regiment,Company,Place of birth,Enlistment date,Enlistment location,Residence,Age,...,Complexion,Wounded,Died in service,Muster out date,Sign name,Substitue,Substitute for,Box,Folder,Notes
0,Adams,James,NaN,29,I.,Maryland,1/4/1864,Bridgeport,NaN,24,...,Black,NaN,NaN,NaN,False,False,NaN,1,1.0,NaN
1,Adams,Henry,A.,29,NaN,France,12/15/1863,New Haven,Orange,32,...,Black,NaN,NaN,NaN,False,False,NaN,1,1.0,NaN
2,Adams,Henry,E.,29,NaN,"Torringford, Connecticut",12/24/1863,Hartford,New Hartford,18,...,Black,NaN,NaN,NaN,True,False,NaN,1,1.0,NaN
3,Abbott,Wesley,NaN,29,NaN,"Madison County, Virginia",6/13/1864,New Haven,Orange,19,...,Black,NaN,NaN,NaN,False,False,NaN,1,1.0,NaN
4,Adams,James,B.,29,F.,"Torringford, Connecticut",12/24/1863,Hartford,New Hartford,20,...,Black,NaN,NaN,NaN,True,False,NaN,1,1.0,NaN
5,Adams,John,H.,29,H.,"Baltimore, Maryland",1/2/1864,New Haven,NaN,32,...,Black,NaN,NaN,NaN,True,False,NaN,1,1.0,NaN
6,Adams,Joseph,NaN,29,NaN,Florida,12/16/1864,Bridgeport,NaN,20,...,Black,NaN,NaN,NaN,True,False,NaN,1,1.0,NaN
7,Adams,Lewis,NaN,29,NaN,New Jersey,1/15/1864,Norwich,NaN,18,...,Colored,NaN,NaN,NaN,False,False,NaN,1,1.0,NaN
8,Alderman,John,NaN,29,E.,"Trinadad, West Indies",12/19/1863,Hartford,Suffield,19,...,Black,NaN,NaN,NaN,True,False,NaN,1,1.0,NaN
9,Antone,Isaac,H.,29,NaN,Connecticut,8/30/1864,Norwich,NaN,18,...,Colored,NaN,NaN,NaN,False,True,Jessie Y. Hull of Stonington,1,1.0,NaN
10,Addison,John,S.,29,E.,"Salisbury, Connecticut",12/23/1863,Bridgeport,NaN,18,...,Black,NaN,NaN,NaN,True,False,NaN,1,1.0,NaN
11,Addison,Rufus,NaN,29,A.,"Washington, D.C.",12/3/1863,New Haven,Orange,18,...,Black,NaN,NaN,NaN,False,False,NaN,1,1.0,NaN
12,Alexander,Joseph,NaN,29,A.,"Fairfield, Connecticut",2/22/1864,Bridgeport,NaN,22,...,Black,NaN,NaN,NaN,False,False,NaN,1,1.0,NaN
13,Alexander,Lawson,NaN,29,I.,"Washington, D.C.",1/5/1864,New Haven,Hamden,33,...,Black,NaN,NaN,NaN,False,False,NaN,1,1.0,NaN
14,Alexander,Squire,NaN,29,NaN,"Newberne, North Carolina",6/3/1864,New Haven,Middletown,21,...,Black,NaN,NaN,NaN,False,False,NaN,1,1.0,NaN
15,Allen,David,NaN,31,NaN,New Providence,12/14/1864,Hartford,NaN,28,...,Black,NaN,NaN,NaN,True,True,Jason G. Marble of Hartford,1,1.0,NaN
16,Allen,James,NaN,29,K.,"Pike County, Georgia",1/8/1864,Norwich,NaN,20,...,Colored,NaN,NaN,NaN,False,False,NaN,1,1.0,NaN
17,Allman [Almon],Thornton,NaN,29,NaN,Virginia,8/10/1864,Norwich,NaN,22,...,Colored,NaN,NaN,NaN,False,True,Jonathan S. Clark of East Lyme,1,1.0,NaN
18,Anderson,George,NaN,29,NaN,New York,11/7/1864,Hartford,Canton,23,...,Brown,NaN,NaN,NaN,False,False,NaN,1,1.0,NaN
19,Anderson,John,E.,29,NaN,New Jersey,1/21/1864,Norwich,NaN,43,...,Colored,NaN,NaN,NaN,True,False,NaN,1,1.0,NaN
20,Anderson,William,NaN,29,NaN,New Brunswick [Canada],1/8/1864,Hartford,Mansfield,24,...,Black,NaN,NaN,NaN,False,False,NaN,1,1.0,NaN
21,Andrus,Braddock,NaN,29,NaN,Louisiana,8/6/1864,Hartford,NaN,22,...,Black,NaN,NaN,NaN,False,True,Franklin W. Beckley of New Britain,1,1.0,NaN
22,Anderson,Theodore,NaN,29,NaN,"Pittsburg, Pennsylvania",12/24/1863,Hartford,East Windsor,41,...,Black,NaN,NaN,NaN,False,False,NaN,1,1.0,NaN
23,Andrews,Francis,H.,29,E.,St. Helena,12/21/1863,New Haven,NaN,23,...,Black,NaN,NaN,NaN,False,False,NaN,1,1.0,NaN
24,Andrews,William,E.,29,A.,"Moosup, Connecticut",12/3/1863,Norwich,NaN,20,...,Colored,NaN,NaN,NaN,False,False,NaN,1,1.0,NaN
25,Addison,David,E.,29,A.,"Salisbury, Connecticut",12/30/1863,New Haven,NaN,24,...,Black,NaN,NaN,NaN,True,False,NaN,1,1.0,NaN
26,Antasio,Castillo,NaN,29,NaN,South America,2/25/1864,Bridgeport,NaN,26,...,Black,NaN,NaN,NaN,False,False,NaN,1,1.0,NaN
27,Anthony,Fleetwood,NaN,29,I.,"Albany, New York",1/4/1864,New Haven,NaN,18,...,Black,NaN,NaN,NaN,True,False,NaN,1,1.0,NaN
28,Anthony,James,Y.,29,I.,"New York, New York",12/14/1863,Bridgeport,NaN,18,...,Black,NaN,NaN,NaN,False,False,NaN,1,1.0,NaN
29,Anthony,Richard,NaN,29,F.,"Jenco, New York",12/19/1863,Norwich,NaN,18,...,Colored,NaN,NaN,NaN,False,False,NaN,1,1.0,NaN
30,Antone,Henry,NaN,30,E.,"Boston, Massachusetts",2/23/1864,New London,Union,18,...,Dark,NaN,NaN,NaN,False,False,NaN,1,1.0,NaN
31,NaN,Apdola,NaN,29,NaN,China,1/22/1864,Norwich,NaN,26,...,Colored,NaN,NaN,NaN,True,False,NaN,1,1.0,NaN
32,Apes,Gad,W.,29,F.,"Colchester, Connecticut",2/27/1864,Hartford,NaN,21,...,Black,NaN,NaN,NaN,True,False,NaN,1,1.0,NaN
33,Archy,William,NaN,29,C.,L. A. [Louisiana],12/11/1863,Hartford,Wethersfield,18,...,Black,NaN,NaN,NaN,False,False,NaN,1,1.0,NaN
34,Armstrong,George,NaN,30,D.,Cataraugus [New York],2/15/1864,Bridgeport,NaN,24,...,Black,NaN,NaN,NaN,False,False,NaN,1,1.0,NaN
35,Armstrong,William,NaN,29,B.,"Danbury, Connecticut",11/27/1863,Bridgeport,NaN,45,...,Black,NaN,NaN,NaN,False,False,NaN,1,1.0,NaN
36,Arnum,Walter,A.,29,B.,"Granby, Connecticut",12/7/1863,Bridgeport,NaN,44,...,Black,NaN,NaN,NaN,True,False,NaN,1,1.0,NaN
37,Arthur,Anthony,NaN,29,NaN,North Carolina,12/19/1864,Hartford,Hebron,27,...,Black,NaN,NaN,NaN,False,False,NaN,1,1.0,NaN
38,Aray,Charles,B.,29,F.,"Peekskill, New York",12/22/1863,Bridgeport,NaN,22,...,Black,NaN,NaN,NaN,True,False,NaN,1,1.0,NaN
39,Ashley,John,H.,29,F.,New York,12/21/1863,New Haven,NaN,18,...,Black,NaN,NaN,NaN,True,False,NaN,1,1.0,NaN
40,August,John,NaN,31,NaN,South America,11/30/1864,New Haven,NaN,23,...,Black,NaN,NaN,NaN,False,True,Meyer Kahn of New Haven,1,1.0,NaN
41,Avery,William,NaN,29,K.,Connecticut,1/5/1864,Bridgeport,NaN,41,...,Black,NaN,NaN,NaN,False,False,NaN,1,1.0,NaN
42,Babcock,Mark,D.,30,NaN,"Hopkinton, Rhode Island",3/19/1864,New Haven,Portland,43,...,Dark,NaN,NaN,NaN,True,False,NaN,1,2.0,NaN
43,Babcock,Robin,NaN,29,NaN,"Preston, Connecticut",12/5/1863,Norwich,NaN,27,...,Colored,NaN,NaN,NaN,False,False,NaN,1,2.0,NaN
44,Bagdon,Augustus,NaN,29,C.,"Bethany, Connecticut",12/9/1863,Hartford,Bethany,42,...,Black,NaN,NaN,NaN,True,False,NaN,1,2.0,NaN
45,Bailey,Albert,NaN,29,A.,"New Orleans, Louisiana",2/23/1864,Hartford,Hartford,22,...,Black,NaN,NaN,NaN,False,False,NaN,1,2.0,NaN
46,Bailey,John,NaN,29,G.,"Pelleville, New Jersey",12/24/1863,Bridgeport,NaN,29,...,Black,NaN,NaN,NaN,False,False,NaN,1,2.0,NaN
47,Bailey,Robert,M.,29,H.,"St. Marys, Georgia",12/29/1863,New Haven,Middletown,27,...,Yellow,NaN,NaN,NaN,True,False,NaN,1,2.0,NaN
48,Baker,Charles,NaN,30,D.,North Carolina,2/22/1864,Bridgeport,NaN,24,...,Black,NaN,NaN,NaN,False,False,NaN,1,2.0,NaN
49,Baker,Elijah,NaN,29,K.,"Scipio, New York",1/9/1864,Hartford,Stafford,27,...,Black,NaN,NaN,NaN,False,False,NaN,1,2.0,NaN

In [5]:
df.info('/content/Persons_of_Color_Troop_Enlistments_from_Connecticut_during_the_Civil_War.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1699 entries, 0 to 1698
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Last name            1698 non-null   object
 1   First name           1699 non-null   object
 2   MI/name              491 non-null    object
 3   Regiment             1699 non-null   int64
 4   Company              1301 non-null   object
 5   Place of birth       1696 non-null   object
 6   Enlistment date      1699 non-null   object
 7   Enlistment location  1699 non-null   object
 8   Residence            881 non-null    object
 9   Age                  1698 non-null   object
 10  Occupation           1694 non-null   object
 11  Marital status       774 non-null    object
 12  Complexion           1696 non-null   object
 13  Wounded              0 non-null      float64
 14  Died in service      0 non-null      float64
 15  Muster out date      0 non-null      float64
 16  Sign name            1699 non-null   bool
 17  Substitue            1699 non-null   bool
 18  Substitute for       118 non-null    object
 19  Box                  1699 non-null   object
 20  Folder               1624 non-null   float64
 21  Notes                55 non-null     object
dtypes: bool(2), float64(4), int64(1), object(15)
memory usage: 268.9+ KB

In [6]:
df.isnull().sum()

Last name                 1
First name                0
MI/name                1208
Regiment                  0
Company                 398
Place of birth            3
Enlistment date           0
Enlistment location       0
Residence               818
Age                       1
Occupation                5
Marital status          925
Complexion                3
Wounded                1699
Died in service        1699
Muster out date        1699
Sign name                 0
Substitue                 0
Substitute for         1581
Box                       0
Folder                   75
Notes                  1644
dtype: int64