<a href="https://colab.research.google.com/github/aubrieconger/digitalmethods1/blob/main/clean_data_FINAL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd

file_path = ('/content/Persons_of_Color_Troop_Enlistments_from_Connecticut_during_the_Civil_War.csv')

df = pd.read_csv(file_path)
df.head(200)

,Last name,First name,MI/name,Regiment,Company,Place of birth,Enlistment date,Enlistment location,Residence,Age,...,Complexion,Wounded,Died in service,Muster out date,Sign name,Substitue,Substitute for,Box,Folder,Notes
0,Adams,James,NaN,29,I.,Maryland,1/4/1864,Bridgeport,NaN,24,...,Black,NaN,NaN,NaN,False,False,NaN,1,1.0,NaN
1,Adams,Henry,A.,29,NaN,France,12/15/1863,New Haven,Orange,32,...,Black,NaN,NaN,NaN,False,False,NaN,1,1.0,NaN
2,Adams,Henry,E.,29,NaN,"Torringford, Connecticut",12/24/1863,Hartford,New Hartford,18,...,Black,NaN,NaN,NaN,True,False,NaN,1,1.0,NaN
3,Abbott,Wesley,NaN,29,NaN,"Madison County, Virginia",6/13/1864,New Haven,Orange,19,...,Black,NaN,NaN,NaN,False,False,NaN,1,1.0,NaN
4,Adams,James,B.,29,F.,"Torringford, Connecticut",12/24/1863,Hartford,New Hartford,20,...,Black,NaN,NaN,NaN,True,False,NaN,1,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,Camm,Truman,NaN,29,G.,"Woodbury, Connecticut",1/5/1864,New Haven,NaN,32,...,Black,NaN,NaN,NaN,False,False,NaN,1,3.0,NaN
196,Camp,Nathan,NaN,29,C.,"Hartford, Connecticut",1/2/1864,Hartford,Rocky Hill,19,...,Black,NaN,NaN,NaN,False,False,NaN,1,3.0,NaN
197,Campbell,Richard,NaN,29,B.,Pennsylvania,12/9/1863,Norwich,NaN,24,...,Colored,NaN,NaN,NaN,False,False,NaN,1,3.0,NaN
198,Camper,Henry,NaN,29,F.,Virginia,12/19/1863,New Haven,Hamden,21,...,Black,NaN,NaN,NaN,False,False,NaN,1,3.0,NaN
199,Camrel,James,NaN,30,B.,"Jamaica, West Indies",1/13/1864,New Haven,East Haven,31,...,Black,NaN,NaN,NaN,True,False,NaN,1,3.0,NaN

In [8]:
df.info('/content/Persons_of_Color_Troop_Enlistments_from_Connecticut_during_the_Civil_War.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1699 entries, 0 to 1698
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Last name            1698 non-null   object
 1   First name           1699 non-null   object
 2   MI/name              491 non-null    object
 3   Regiment             1699 non-null   int64
 4   Company              1301 non-null   object
 5   Place of birth       1696 non-null   object
 6   Enlistment date      1699 non-null   object
 7   Enlistment location  1699 non-null   object
 8   Residence            881 non-null    object
 9   Age                  1698 non-null   object
 10  Occupation           1694 non-null   object
 11  Marital status       774 non-null    object
 12  Complexion           1696 non-null   object
 13  Wounded              0 non-null      float64
 14  Died in service      0 non-null      float64
 15  Muster out date      0 non-null      float64
 16  Sign name            1699 non-null   bool
 17  Substitue            1699 non-null   bool
 18  Substitute for       118 non-null    object
 19  Box                  1699 non-null   object
 20  Folder               1624 non-null   float64
 21  Notes                55 non-null     object
dtypes: bool(2), float64(4), int64(1), object(15)
memory usage: 268.9+ KB

In [9]:
df.isnull().sum()

Last name                 1
First name                0
MI/name                1208
Regiment                  0
Company                 398
Place of birth            3
Enlistment date           0
Enlistment location       0
Residence               818
Age                       1
Occupation                5
Marital status          925
Complexion                3
Wounded                1699
Died in service        1699
Muster out date        1699
Sign name                 0
Substitue                 0
Substitute for         1581
Box                       0
Folder                   75
Notes                  1644
dtype: int64

In [10]:
df.drop(columns='Wounded')

,Last name,First name,MI/name,Regiment,Company,Place of birth,Enlistment date,Enlistment location,Residence,Age,...,Marital status,Complexion,Died in service,Muster out date,Sign name,Substitue,Substitute for,Box,Folder,Notes
0,Adams,James,NaN,29,I.,Maryland,1/4/1864,Bridgeport,NaN,24,...,NaN,Black,NaN,NaN,False,False,NaN,1,1.0,NaN
1,Adams,Henry,A.,29,NaN,France,12/15/1863,New Haven,Orange,32,...,NaN,Black,NaN,NaN,False,False,NaN,1,1.0,NaN
2,Adams,Henry,E.,29,NaN,"Torringford, Connecticut",12/24/1863,Hartford,New Hartford,18,...,Unmarried,Black,NaN,NaN,True,False,NaN,1,1.0,NaN
3,Abbott,Wesley,NaN,29,NaN,"Madison County, Virginia",6/13/1864,New Haven,Orange,19,...,NaN,Black,NaN,NaN,False,False,NaN,1,1.0,NaN
4,Adams,James,B.,29,F.,"Torringford, Connecticut",12/24/1863,Hartford,New Hartford,20,...,Unmarried,Black,NaN,NaN,True,False,NaN,1,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1694,Treadwell,David,NaN,29,D,"Long Island, New York",12/16/1863,Bridgeport,NaN,23,...,Single,Black,NaN,NaN,True,False,NaN,180A,NaN,NaN
1695,Trusty,Jacob,NaN,29,D,"Port Penn, Delaware",1/4/1864,New Haven,Hamden,23,...,NaN,Black,NaN,NaN,False,False,NaN,180A,NaN,NaN
1696,Walker,Francis,H.,29,D,Virginia,12/15/1863,New Haven,New Haven,32,...,NaN,Dark,NaN,NaN,True,False,NaN,180A,NaN,NaN
1697,Finley,James,NaN,29,D,"Philadelphia, Pennsylvania",12/15/1863,Hartford,NaN,18,...,Single,Black,NaN,NaN,True,False,NaN,180A,NaN,Surname may be Tinley
1698,Tock,Cyrus,NaN,29,D,"Kingston, New York",12/12/1863,Norwich,NaN,19,...,NaN,Colored,NaN,NaN,False,False,NaN,180A,NaN,Surname may be Fock

In [11]:
df.drop(columns='Died in service')

,Last name,First name,MI/name,Regiment,Company,Place of birth,Enlistment date,Enlistment location,Residence,Age,...,Marital status,Complexion,Wounded,Muster out date,Sign name,Substitue,Substitute for,Box,Folder,Notes
0,Adams,James,NaN,29,I.,Maryland,1/4/1864,Bridgeport,NaN,24,...,NaN,Black,NaN,NaN,False,False,NaN,1,1.0,NaN
1,Adams,Henry,A.,29,NaN,France,12/15/1863,New Haven,Orange,32,...,NaN,Black,NaN,NaN,False,False,NaN,1,1.0,NaN
2,Adams,Henry,E.,29,NaN,"Torringford, Connecticut",12/24/1863,Hartford,New Hartford,18,...,Unmarried,Black,NaN,NaN,True,False,NaN,1,1.0,NaN
3,Abbott,Wesley,NaN,29,NaN,"Madison County, Virginia",6/13/1864,New Haven,Orange,19,...,NaN,Black,NaN,NaN,False,False,NaN,1,1.0,NaN
4,Adams,James,B.,29,F.,"Torringford, Connecticut",12/24/1863,Hartford,New Hartford,20,...,Unmarried,Black,NaN,NaN,True,False,NaN,1,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1694,Treadwell,David,NaN,29,D,"Long Island, New York",12/16/1863,Bridgeport,NaN,23,...,Single,Black,NaN,NaN,True,False,NaN,180A,NaN,NaN
1695,Trusty,Jacob,NaN,29,D,"Port Penn, Delaware",1/4/1864,New Haven,Hamden,23,...,NaN,Black,NaN,NaN,False,False,NaN,180A,NaN,NaN
1696,Walker,Francis,H.,29,D,Virginia,12/15/1863,New Haven,New Haven,32,...,NaN,Dark,NaN,NaN,True,False,NaN,180A,NaN,NaN
1697,Finley,James,NaN,29,D,"Philadelphia, Pennsylvania",12/15/1863,Hartford,NaN,18,...,Single,Black,NaN,NaN,True,False,NaN,180A,NaN,Surname may be Tinley
1698,Tock,Cyrus,NaN,29,D,"Kingston, New York",12/12/1863,Norwich,NaN,19,...,NaN,Colored,NaN,NaN,False,False,NaN,180A,NaN,Surname may be Fock

In [12]:
df.drop(columns='Muster out date')

,Last name,First name,MI/name,Regiment,Company,Place of birth,Enlistment date,Enlistment location,Residence,Age,...,Marital status,Complexion,Wounded,Died in service,Sign name,Substitue,Substitute for,Box,Folder,Notes
0,Adams,James,NaN,29,I.,Maryland,1/4/1864,Bridgeport,NaN,24,...,NaN,Black,NaN,NaN,False,False,NaN,1,1.0,NaN
1,Adams,Henry,A.,29,NaN,France,12/15/1863,New Haven,Orange,32,...,NaN,Black,NaN,NaN,False,False,NaN,1,1.0,NaN
2,Adams,Henry,E.,29,NaN,"Torringford, Connecticut",12/24/1863,Hartford,New Hartford,18,...,Unmarried,Black,NaN,NaN,True,False,NaN,1,1.0,NaN
3,Abbott,Wesley,NaN,29,NaN,"Madison County, Virginia",6/13/1864,New Haven,Orange,19,...,NaN,Black,NaN,NaN,False,False,NaN,1,1.0,NaN
4,Adams,James,B.,29,F.,"Torringford, Connecticut",12/24/1863,Hartford,New Hartford,20,...,Unmarried,Black,NaN,NaN,True,False,NaN,1,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1694,Treadwell,David,NaN,29,D,"Long Island, New York",12/16/1863,Bridgeport,NaN,23,...,Single,Black,NaN,NaN,True,False,NaN,180A,NaN,NaN
1695,Trusty,Jacob,NaN,29,D,"Port Penn, Delaware",1/4/1864,New Haven,Hamden,23,...,NaN,Black,NaN,NaN,False,False,NaN,180A,NaN,NaN
1696,Walker,Francis,H.,29,D,Virginia,12/15/1863,New Haven,New Haven,32,...,NaN,Dark,NaN,NaN,True,False,NaN,180A,NaN,NaN
1697,Finley,James,NaN,29,D,"Philadelphia, Pennsylvania",12/15/1863,Hartford,NaN,18,...,Single,Black,NaN,NaN,True,False,NaN,180A,NaN,Surname may be Tinley
1698,Tock,Cyrus,NaN,29,D,"Kingston, New York",12/12/1863,Norwich,NaN,19,...,NaN,Colored,NaN,NaN,False,False,NaN,180A,NaN,Surname may be Fock